<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../static/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../static/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/jpg" href="../static/favicons/about.png"/>
	<script src="../static/js/modernizr.js"></script> <!-- Modernizr -->

	<title>About Us</title>
</head>
<body>
	<section class="cd-section">
		<div class="cd-block">
			<div class="topnav">
  <a  href="{{ url_for('home')}}">Home</a>
  <a href="{{ url_for('duration')}}">Duration</a>
  <a href="{{ url_for('cost')}}">Cost</a>
  <a href="works.html">Manual</a>
  <a class="active" style="margin-left: 65.5%;" href="{{ url_for('about')}}">About Us</a>
</div>
			<h1>About Us</h1>
			<div class="mouse_scroll">

		<div class="mouse">
			<div class="wheel"></div>
		</div>
		<div>
			<span class="m_scroll_arrows unu"></span>
			<span class="m_scroll_arrows doi"></span>
			<span class="m_scroll_arrows trei"></span>
		</div>
</div>
		</div>
	</section> <!-- .cd-section -->

	<section class="cd-section">
		<div class="cd-block">
			<div class="cd-half-block"></div>

			<div class="cd-half-block">
				<p style="font-size:20px">
					Name: Shivba Pawar<br>
					College: KIT's College of Engineering, Kolhapur<br>
					Branch: Information Technology<br>
					Passing Year: 2021<br>
					Data Science | Machine Learning | Python | HTML5 | .Net | Deep Learning |<br>
					<u>About</u><br>
					I am a machine learning enthusiast, aspiring to set my career in the domain of Deep learning, Computer Vision and VR/AR gaming, and now I'm trying to get a hold on the concepts of the field.
I have good problem solving skills along with dedication towards my work. I have got excellent communication skills and always the thirst to learn something new. <br>
					<br><a style="margin-left:50px;" href="https://www.linkedin.com/in/shivba-pawar-7572a9162/" class="fa fa-linkedin"></a>
					<a href="https://www.facebook.com/shivba28/" class="fa fa-facebook"></a>
					<a href="https://www.instagram.com/sh_weeb_a/" class="fa fa-instagram"></a>
					<a href="https://www.youtube.com/user/shivba28/featured" class="fa fa-youtube"></a>
				</p>
			</div>
		</div>
	</section> <!-- .cd-section -->

	<section class="cd-section">
		<div class="cd-block">
			<div class="cd-half-block"></div>

			<div class="cd-half-block">
				<p style="font-size:20px">
					Name: Chinmay Sawant<br>
					College: KIT's College of Engineering, Kolhapur<br>
					Branch: Information Technology<br>
					Passing Year: 2021<br>
					Data Science | Machine Learning | Python | Tableau |<br>
					<u>About</u><br> Currently trying to wrap my head around the concepts of Machine Learning and want my career to be set in that domain. Also I like to keep myself busy with Photography, Basketball and Skateboarding in the mean time.<br>
					<br><a style="margin-left:100px;" href="https://www.linkedin.com/in/chinmaysawant/" class="fa fa-linkedin"></a>
					<a href="https://www.facebook.com/chinmay.sawant36" class="fa fa-facebook"></a>
					<a href="https://www.instagram.com/chinmaysawant/" class="fa fa-instagram"></a>
				</p>

			</div>
		</div>
	</section> <!-- .cd-section -->

	<nav>
		<ul class="cd-vertical-nav">
			<li><a href="#0" class="cd-prev inactive">Next</a></li>
			<li><a href="#0" class="cd-next">Prev</a></li>
		</ul>
	</nav> <!-- .cd-vertical-nav -->
<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
